.pageHeader {
  padding: 50px 0;
}

.pageHeaderTitle {
  margin: 0;
  line-height: 100px;
  font-size: 3rem;
  text-align: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.sections {
  display: inline-block;
  display: relative;
  width: 400px;
  padding-bottom: 200px;
}

.pageSection {
  height: 400px;
  display: flex;
  padding: 5% 15%;
  align-items: center;
}

.pageSectionTitle {
  font-size: 2rem;
}

.visualization {
  display: inline-block;
  position: fixed;
  z-index: 99;
}